services:
  db:
    image: timescale/timescaledb:latest-pg17
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0681d7bf4e0c
      POSTGRES_DB: phantom
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: phantom-backend:latest
    command: ["backend"]
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://postgres:0681d7bf4e0c@db:5432/phantom
      RUST_LOG: info
    restart: always

  indexer:
    build:
      context: .
      dockerfile: Dockerfile
    image: phantom-indexer:latest
    command: ["indexer"]
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:0681d7bf4e0c@db:5432/phantom
      RUST_LOG: info
    restart: always

volumes:
  db_data:
