[package]
name = "frontend"
version = "0.1.0"
edition = "2024"

[dependencies]
log = "0.4.29"
wasm-logger = "0.2.0"
web-sys = "0.3.83"

yew = { version = "0.22", features = ["csr"] }
yew-router = "0.19.0"
