<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Phantom Cap{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <!-- Tailwind CSS -->
    <link href="/static/styles/output.css" rel="stylesheet">
    <!-- Htmx -->
    <script src="/static/scripts/htmx.min.js"></script>
    <!-- Alpine JS -->
    <script defer src="/static/scripts/alpine.min.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    

    <style>
        body { font-family: 'Outfit', sans-serif; }
        h1, h2, h3, h4, h5, h6 { font-family: 'Space Grotesk', sans-serif; }
        
        .htmx-indicator {
            display: none;
        }
        .htmx-request .htmx-indicator,
        .htmx-request.htmx-indicator {
            display: inline-block;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body class="bg-background text-foreground min-h-screen flex flex-col antialiased">
    <!-- Header -->
    <header class="border-b border-border bg-background/95 backdrop-blur z-50 top-0">
        <div class="container mx-auto px-6 py-4">
            <div class="flex items-center justify-between">
                <a href="/" class="flex items-center hover:opacity-80 transition-opacity">
                    <img src="/static/assets/logo-minimal.png" alt="Phantom Cap Logo" class="w-12 h-12">
                    <span class="text-2xl font-bold tracking-tight font-heading">PhantomC</span>
                </a>
                {% block header %}{% endblock %}
                <!-- <nav class="flex gap-6 items-center">
                    <a href="/" class="text-muted-foreground hover:text-primary transition-colors">
                        Explorer
                    </a>
                    <a href="#" class="text-muted-foreground hover:text-primary transition-colors">
                        Caps
                    </a>
                    <a href="#" class="text-muted-foreground hover:text-primary transition-colors">
                        Stats
                    </a>
                </nav> -->
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="flex-grow flex flex-col">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="border-t border-border mt-auto py-8 bg-background">
        <div class="container mx-auto px-6 text-center text-muted-foreground">
            <p>Phantom Cap</p>
        </div>
    </footer>
</body>
</html>
